<div class="buttons-wrapper">
    <a href="/" class="logo">HasteBin</a>

    <div class="buttons">
        <a href="/new" class="btn">New</a>
        <button type="submit" class="btn">Save</button>
    </div>
</div>